ion-item {
    --border-style:none;
    --background: gray;
    border-radius:10px;
    
    // --border-width: 0px !important;
    margin-top: 2px;    
}

ion-card{
    border-radius: 10px;
}

ion-card-content {
    padding-top: 0px;
}

ion-list {
    padding-top: 0px;
}