<ion-header no-border>
  <ion-toolbar color="cinza">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="login"></ion-back-button>
      <img src="assets/icon/tracking.jpg" class="logo-esquerda" alt="Track Technologies">
      <div class="centralizado">
        <div class="centralizado-vertical">
          <span class='texto-direita-cima'> Signing up to</span>
          <span class='texto-direita-baixo'>Tracking Tech</span>
        </div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="cinza">

  <ion-card color="light">
    <ion-card-content>
      <form [formGroup]='signupForm' class="formulario" (submit)="salvar()">
        <ion-list inset="true">
          <ion-item>
            <ion-input autofocus="true" autocapitalize="on" placeholder="Name" formControlName="nome" inputmode="text">
            </ion-input>
            <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('required')">
              Obrigatório
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Surname" autocapitalize="on" formControlName="surname" inputmode="text">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="email" placeholder="Email" formControlName="email" inputmode="email">
            </ion-input>
            <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">
              Required
            </ion-note>
            <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">
              Invalid Email
            </ion-note>
          </ion-item>
          <!-- <div > -->
          <!-- <ion-item>
                          
            </ion-item> -->
          <ion-item>
            <div class="grid-2-colunas">
              <ion-input slot="start" type="password" placeholder="Password" formControlName="password"
                inputmode="password">
              </ion-input>

              <ion-input slot="end" type="password" placeholder="Repeat" formControlName="password2"
                inputmode="password">
              </ion-input>
            </div>
          </ion-item>
          <ion-item *ngIf="signupForm.hasError('passwordNotMatch')">
            <ion-note slot="end">
              Passwords don't match
            </ion-note>
          </ion-item>
          <!-- </div> -->
          <ion-item>
            <ion-input placeholder="City" formControlName="city" inputmode="text">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Profession" formControlName="profession" inputmode="text">
            </ion-input>
          </ion-item>

          <ion-button expand="block" fill="outline">
            <ion-icon slot="icon-only" name="contact"></ion-icon>
            Sign-Up
          </ion-button>   
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>