.header-signup {
    display: flex;
    height: 10%;
}

.logo-esquerda {
    height: 100%;
}

ion-card {
    background: white;
}

// ion-item {
//     --border-style: solid;
//     --border-color: var(--ion-color-secondary);
//     --border-width: 1px;
//     // margin-top: 2px;
//     // --border-radius:10%;
// }

// .logo-esquerda {
//     grid-row: 1 /span 2;
//     grid-column: 1;
// }



.texto-direita-cima {
    font-size: 0.7em;
}

.texto-direita-baixo {
    font-size: 1.2em;
    font-weight: bold;
}